<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/favoritemoments']">
        <ion-icon slot="icon-only" name="return-up-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>No fucking fighting</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <iframe width="713" height="401" src="https://www.youtube.com/embed/zlAYxieNn9Q" title="Peaky Blinders - No fucking fighting" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


</ion-content>
