<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Characters</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img alt="Silhouette of mountains" src="assets/TommyChap.jpg" />
    <ion-card-header>
      <ion-card-title>Tommy Shelby</ion-card-title>
      <ion-card-subtitle>Leader of the gang</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Tommy is the leader of his family and the master mind behind of all the operation of the gang.
    </ion-card-content>
    <ion-button [routerLink]="['/tommymore']"  fill="clear">View more</ion-button>
  </ion-card>
  <ion-card>
    <img alt="Silhouette of mountains" src="assets/ArthurChap.jpg" />
    <ion-card-header>
      <ion-card-title>Arthur Shelby</ion-card-title>
      <ion-card-subtitle>Older brother</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      He's the older brother and his temper is strong, he make the dirty work.
    </ion-card-content>
    <ion-button [routerLink]="['/arthurmore']" fill="clear">View more</ion-button>
  </ion-card>
  <ion-card>
    <img alt="Silhouette of mountains" src="assets/JohnChap.jpg" />
    <ion-card-header>
      <ion-card-title>John Shelby</ion-card-title>
      <ion-card-subtitle>Third brother</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      The John Boy he make the dirty work, with arthur and is husband of Esme Shelby.
    </ion-card-content>
    <ion-button [routerLink]="['/johnmore']" fill="clear">View more</ion-button>
  </ion-card>
  <ion-card>
    <img alt="Silhouette of mountains" src="assets/PolySChap.jpg" />
    <ion-card-header>
      <ion-card-title>Poly Shelby</ion-card-title>
      <ion-card-subtitle>Aunt Poly</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      She's the accountant of the gang and the support of all the family.
    </ion-card-content>
    <ion-button [routerLink]="['/polymore']" fill="clear">View more</ion-button>
  </ion-card>
</ion-content>
