ion-title{
    font-family: Alycidon-condensed;
    padding-left: 20%;
}
ion-card-header.ios {
    display: flex;
    flex-flow: column-reverse;
  }

  ion-card-title{
    font-family: Alycidon-condensed;
  }

  ion-card-subtitle{
    font-family: Alycidon-condensed;
  }
  ion-card-content{
    font-family: Alycidon-condensed;
  }