ion-card-header.ios {
    display: flex;
    flex-flow: column-reverse;
  }
  ion-button{
    margin-left: 32%;
    margin-bottom: 15px;
    margin-top: 10px;
  }
  ion-title{
    font-family: Alycidon-condensed;
    padding-left: 20%;
}